/* [home] :: Navegacao pela data */

.data-selection {
    display: inline-block;
    margin: 0px 20px;
    margin-top: 5px;
}

.data-selection a {
    color: #333;
    text-decoration: none;
}

.data-selection a::before {
    margin: 0;
}

.data-selection a:first-child::before {
    margin-right: 10px;
}

.data-selection a:last-child::before {
    margin-left: 10px;
}

.data-selection input {
    text-transform: capitalize;
    display: inline-block !important;
    vertical-align: top;
    font-weight: bold;
    padding: 0;
    margin: 0;
    font-size: 1.05em;
    outline: none;
    border: none;
    min-width: 50px !important;
    max-width: 99.99% !important;
    text-align: center;
    height: 22px;
    line-height: 22px;
}

.btn-reference {
    border-radius: 0;
    background: #fff;
    color: #74788d !important;
    text-shadow: none;
    border: 1px solid #d8dbe2;
    font-size: .75em;
    font-weight: bold;
}

.btn-reference:nth-of-type(1) {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.btn-reference:nth-of-type(2) {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.btn-reference:hover,
.btn-reference.selected {
    background: #f1f1f1;
    border: 1px solid #d8dbe2;
    color: #74788d;
}

/* [home][topo] :: Resumo e balanços */
.panel_header--report {
    padding: 0px;
    margin: -6px -6px 5px -6px;
    width: calc(100% + 25px);
}

.panel_header--report .reportSingle {
    border: #eee solid 1px;
    padding: 10px 0;
}

.panel_header--report .reportSingle b:first-child {
    font-size: 2em;
    font-size: 1.3em;
    margin-right: 10px !important;
    padding: 10px;
    color: #fff;
    float: none;
}

.panel_header--report .reportSingle b {
    float: right;
    margin: 4px 10px 0 0;
}

.panel_header--report .red {
    background: #f33
}

.panel_header--report .blue {
    background: #65a6ff;
}

.panel_header--report .purple {
    background: #984dff;
}

.panel_header--report .green {
    background: #9cd159;
}

/* charts */
.panel_header--charts>.chart-report {
    width: calc(100% / 2 - 100px);
    display: inline-block;
    vertical-align: top;
    padding-bottom: 20px;
    background: #fff;
    border: #eee solid 1px;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
}

.panel_header--charts>.chart-report h3 {
    background: #607d8b;
    padding: 5px;
    border-left: #607d8b solid 1px;
    border-right: #607d8b solid 1px;
    border-radius: 10px 10px 0px 0px;
    -moz-border-radius: 10px 10px 0px 0px;
    -webkit-border-radius: 10px 10px 0px 0px;
}

.panel_header--charts>.chart-report:last-child {
    width: 190px;
}

.panel_header--charts h3 {
    font-size: .8em;
    color: #fbfbfb;
    display: block;
    margin-bottom: 10px;
}

.peity,
.chart-description {
    display: inline-block;
    vertical-align: top;
    float: left;
    width: 65px;
}

.peity {
    padding-top: 10px;
}

.chart-description {
    width: calc(100% - 65px);
}

.chart-description p {
    display: block;
    width: 80%;
    margin: 0 15% 0 5%;
    position: relative;
    height: 25px;
    line-height: 25px;
    border-bottom: 1px solid #e6e6e6;
}

.chart-description p b {
    font-size: .7em;
}

.chart-description span {
    position: absolute;
    top: 0;
    right: 0px;
}

.panel_header--charts>.chart-report:last-child .chart-description,
.panel_header--charts>.chart-report:last-child .chart-description p {
    margin: 0;
    width: 100%;
    padding: 5px;
    font-size: 1.2em;
    border: none;
}

.panel_header--btns {
    display: none;
    padding: 0px 10px 10px 0px;
}

/* título e box de pesquisa */
.panel_header--finance {
    padding: 10px 0;
    border-bottom: 0;
    color: #565454;
}

.panel_header--finance h3 {
    width: calc(100% - 400px);
    display: inline-block;
}

.panel_header--finance input {
    display: inline-block;
    border-radius: 5px;
    width: 395px;
    outline: none;
    opacity: 0.3;
    animation: ease
}

.panel_header--finance input:focus,
.panel_header--finance input:hover {
    border-color: #eee;
    background: #fbfbfb;
    -webkit-box-shadow: 0 0 4px -2px #000;
    -moz-box-shadow: 0 0 4px -2px #000;
    box-shadow: 0 0 4px -2px #000;
    opacity: 1;
    transition: 1s
}

/* [home][tabela] :: Tabela com lancamentos */
.table--finance {
    width: 100%;
    border-collapse: collapse;
}

.table--finance thead {
    font-weight: 600;
    background: #607d8b;
    border-bottom: 2px solid #e6e6e6;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    overflow: hidden;
}

.table--finance thead th {
    color: #fff !important;
}

.table--finance tr {
    border-bottom: 1px solid #e6e6e6;
    border-left: 2px solid #b3b3b3;
}

.table--finance .warning {
    background: rgba(255, 193, 7, 0.27);
}

.table--finance tbody tr:nth-child(2n+0) {
    background: #fbfbfb;
}

.table--finance tbody tr:hover {
    background: #f0f0f0;
}

.table--finance tbody {
    background: #fff;
}

.table--finance th {
    color: #444;
    border: none;
    padding: 10px 5px;
    font-size: .875em;
    font-weight: 300;
}

.table--finance a {
    text-decoration: none;
    color: #444;
}

.table--finance tr th:first-child {
    position: relative;
}

.table--finance tr th:first-child::before {
    position: absolute;
    top: 18px;
    left: -36px;
    width: 55px;
    height: 14px;
    transform: rotate(-90deg);
    color: #fff;
    font-weight: bold;
    font-size: .7em;
    opacity: 0;
}

.table--finance .rec th:first-child::before {
    content: 'RECEITA';
    background: #5cb85c;
}

.table--finance .des th:first-child::before {
    content: 'DESPESA';
    background: #f55a63;
}

.table--finance tr:hover th:first-child::before {
    opacity: 1;
}

.table--finance .rec {
    border-left: 3px solid #5cb85c;
}

.table--finance .des {
    border-left: 3px solid #f55a63;
}

.table--finance .atras {
    background: #ffebeb;
}

.table--finance .splits {
    background: #eee;
    padding: 0 10px;
    font-size: .8em;
}

.table--finance .form--status {
    text-align: center;
    text-align-last: center;
}

.table--finance .form--status.red {
    background: rgb(236, 73, 87);
    color: #fff;
    font-weight: bold;
    text-shadow: -1px 1px #a92e38;
    padding: 8px 0 !important;
}

.table--finance .form--status.green {
    background: #0fc264;
    color: #fff;
    font-weight: bold;
    text-shadow: -1px 1px #0b8846;
    padding: 8px 0 !important;
}

.table--finance .form--status.yellow {
    background: #e7bc3d;
    color: #fff;
    font-weight: bold;
    text-shadow: -1px 1px #b79222;
    padding: 8px 0 !important;
}

/* cor dos valores */
.table--finance .receita,
.table--finance .despesa {
    white-space: nowrap;
}

.table--finance .receita {
    padding-left: 20px;
    text-align: left;
    color: #5cb85c;
}

.table--finance .despesa {
    padding-left: 20px;
    text-align: left;
    color: #e27c85;
}

.table--finance tbody th:nth-child(3) {
    width: 25%;
}

.table--finance tbody th:nth-child(5) {
    width: 135px;
}

/* SELECT COM OS STATUS */
.table--finance .selectivity-single-select {
    height: 0;
    line-height: 1;
}

.table--finance .selectivity-single-selected-item-remove,
.table--finance .selectivity-search-input-container {
    display: none
}

.table--finance .status-ok .selectivity-single-select {
    background: #5cb85c;
    font-weight: bold;
}

.table--finance .status-ok .selectivity-single-select span {
    color: #fff;
}



.datepicker {
    z-index: 102 !important
}


/* [home][modal][details] :: Modal com detalhes do lançamento */
.fin-details--head {
    padding-top: 15px;
    display: flex;
    align-items: center;
}

.fin-details--head::after {
    content: '';
    display: block;
    clear: both;
}

.fin-details--options,
.fin-details--price {
    display: inline-block;
    vertical-align: top;
    float: left;
}

/* ... */
.fin-details--options {
    width: 40%;
    padding-right: 15px;
}

.fin-details--options label {
    margin: 0 0 10px;
    display: block;
}

.fin-details--options span {
    font-size: .75em;
    display: block;
}

.fin-details--options .btn {
    font-weight: bold;
    font-size: .75em;
}

.fin-details--options .fin-option--link {
    display: inline-block;
    max-width: 100%;
    margin-top: 2px !important;
    border-radius: 3px;
    color: #404040;
    background: #e6e6e6;
    padding: 2.5px 10px;
    cursor: pointer;
    border: 1px solid #ddd;
    font-size: .875em !important;
    letter-spacing: .01em;
    text-decoration: none;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.fin-details--options .fin-option--link:hover {
    background: #fff;
}


/* ... */
.fin-details--price {
    position: relative;
    width: 60%;
    padding: 20px 20px 5px 20px;
    background: #fbfbfb;
    border: 1px solid #ccc;
    border-radius: 10px;
}

.fin-details--price .status {
    position: absolute;
    top: 25px;
    right: 15px;
    font-size: .65em;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
}

.fin-details--price .status .icon-checkmark {
    color: #5cb85b;
}

.fin-details--price .status+a.btn {
    width: 100%;
    display: block;
    margin: 10px 0;
    font-size: .75em;
    padding: 5px 0;
    font-weight: bold;
}

.fin-details--price p {
    font-size: .75em !important;
    font-weight: bold !important;
    color: #000;
}

.fin-details--price .type {
    display: block;
}

.fin-details--price .price {
    font-size: 3em;
    margin-left: 10px;
}

.fin-details--price .recurrence {
    font-size: .35em;
    font-weight: 600;
    color: #6f6f6f;
    padding-left: 10px;
}

.fin-details--price .rec {
    color: #5cb85c !important;
}

.fin-details--price .des {
    color: #f44d5c !important;
}

/* lista de cobrancas */
.fin-details--splits {
    position: relative;
    display: block;
    margin-top: 20px;
    padding-top: 20px;
}

.fin-details--splits.no-title {
    border: none;
    margin: 0 0 25px !important;
    padding-top: 0;
}

.fin-details--splits.no-title .trigger {
    font-size: .875em;
}

.fin-details--splits.no-title .trigger b {
    color: #fff !important;
}

.fin-details--splits.no-title .split {
    background: #fbfbfb;
    padding: 10px;
}

.fin-details--splits.no-title .split span {
    font-size: .75em;
    margin-bottom: 7px;
    display: block;
}

.fin-details--splits.no-title .split label {
    width: 100%;
}

.fin-details--splits.no-title .split input,
.fin-details--splits.no-title .split select {
    font-size: .975em;
}

.fin-details--splits.no-title .split p:nth-child(1),
.fin-details--splits.no-title .split p:nth-child(2),
.fin-details--splits.no-title .split p:nth-child(3),
.fin-details--splits.no-title .split p:nth-child(4) {
    width: 49%;
    margin-bottom: 5px !important;
}

.fin-details--splits.no-title .split p:nth-child(5) {
    width: 40%;
}

.fin-details--splits.no-title .split p:nth-child(6) {
    width: 58%;
}

.fin-details--splits.no-title .split .actions {
    padding-top: 10px;

}

.fin-details--splits.no-title .split .btn {
    width: 48% !important;
    display: inline-block;
    margin-left: 1%;
}


.fin-details--splits.no-title::before {
    display: none !important;
}

.fin-details--splits::before {
    width: 200px;
    left: calc(50% - 100px);
    background: #fff;
    position: absolute;
    top: -7.5px;
    height: 15px;
    font-size: .65em;
    display: block;
    text-align: center;
    font-weight: bold;
    color: #929292;
    line-height: 15px;
}

.fin-details--splits::before {
    content: 'DADOS DA PARCELA ATUAL';
}

.fin-details--splits {
    border-top: 3px dashed #d0d0d0;
}

.fin-details--splits.more::before {
    content: 'PARCELAS ANTERIORES';
    width: 140px;
    left: calc(50% - 70px);
}

.fin-details--splits:not(.more) {
    margin-top: 10px;
}

.fin-details--splits .split {
    border: 1px solid #ddd;
    background: #fbfbfb;
    border-radius: 5px;
    margin-bottom: 10px;
    padding: 10px 15px;
    display: table;
    vertical-align: middle;
    width: 100%;
}

.fin-details--splits .split p {
    display: inline-flex;
    margin: 0 !important;
    font-size: .875em !important;
}

.fin-details--splits .split p span {
    z-index: inherit;
}

.fin-details--splits .split p:nth-of-type(1) {
    width: 60px;
}

.fin-details--splits .split p:nth-of-type(2) {
    width: 100px;
}

.fin-details--splits .split p:nth-of-type(3) {
    width: calc(100% - 380px);
}

.fin-details--splits .split p:nth-of-type(4) {
    width: 122px;
    margin-right: 10px;
}

/* atrasado */
.fin-details--splits .split.late p:nth-of-type(2) {
    font-weight: bold;
    color: #ec4957;
}

.fin-details--splits .split.late .fake-select {
    font-weight: bold;
    background: #e7bc3d;
    color: #fff;
    font-weight: bold;
    text-shadow: -1px 1px #b79222;
}

/* pago */
.fin-details--splits .split.paid p:nth-of-type(2),
.fin-details--splits .split.paid p:nth-of-type(3) {
    opacity: .6;
}

.fin-details--splits .split.paid p:nth-of-type(3) {
    text-decoration: line-through;
}

.fin-details--splits .split.paid .fake-select {
    background: #0fc264;
    color: #fff;
    font-weight: bold;
    text-shadow: -1px 1px #0b8846;
}

/* cancelado */
.fin-details--splits .split.canceled p:nth-of-type(2),
.fin-details--splits .split.canceled p:nth-of-type(3) {
    opacity: .6;
}

.fin-details--splits .split.canceled p:nth-of-type(3) {
    text-decoration: line-through;
}

.fin-details--splits .split.canceled .fake-select {
    background: rgb(236, 73, 87);
    color: #fff;
    font-weight: bold;
    text-shadow: -1px 1px #a92e38;
}

/* botoes */
.fin-details--splits .split .actions {
    padding-left: 10px;
}

.fin-details--splits .split .actions a {
    width: 22px;
    color: #444;
    display: inline-block;
    text-align: center;
    text-decoration: none;
}

.fin-details--splits .split .actions a:last-of-type {
    color: red;
}

.fin-details--splits .split .actions a:hover {
    color: #000;
}

.fin-details--splits .split .actions a:last-of-type:hover {
    color: #b41313;
}

/* ... */
.fin-details--splits .split .fake-select {
    display: block;
    background: #fff;
    border-radius: 3px;
    cursor: pointer;
    min-height: 2em;
    position: relative;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    border: 1px solid #cccccc;
    width: 90px;
    margin-right: 10px;
    height: 35px;
    line-height: 35px;
    padding-left: 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* select customizado */
.fin-details--splits .split .selectivity-single-result-container {
    top: .6em;
}

.fin-details--splits .split .selectivity-single-selected-item-remove,
.fin-details--splits .split .selectivity-search-input-container {
    display: none;
}

/* abrir acao de enviar recibo */
.split-payment-voucher::after {
    display: block;
    clear: both;
    content: '';
}

.split-payment-voucher {
    display: none !important;
    position: relative;
    display: block;
    margin: 20px 0 15px;
}

.send-voucher .split-payment-voucher {
    display: block !important;
}

.split-payment-voucher .input-file,
.split-payment-voucher .voucher-send {
    display: inline-block;
    float: left;
}

.split-payment-voucher .input-file {
    width: 80%;
    background: #fff;
}

.split-payment-voucher .input-file label {
    border-color: #b3b3b3;
}

.split-payment-voucher .voucher-send {
    width: 18%;
    height: 30px;
    margin-top: 4px;
    margin-left: 2%;
}

/* abrir acao de editar registro */
.main-edit,
.split-edit {
    display: none;
}

.split.in-edition .split-edit {
    display: block;
}

.split-edit .split {
    background: #fff;
    margin-bottom: 0;
    margin-top: 15px;
    padding: 10px 5px;
}

.split-edit .split p {
    opacity: 1 !important;
}

.split-edit .split span {
    font-size: .65em;
    color: #000;
    font-weight: 400;
    text-transform: uppercase;
}

.split-edit .split p {
    margin-right: 5px !important;
    text-decoration: none !important;
}

.split-edit .split p:nth-child(1),
.split-edit .split p:nth-child(2) {
    margin-bottom: 5px !important;
}

.split-edit .split p:nth-child(1) {
    width: 49%;
}

.split-edit .split p:nth-child(2) {
    width: 49%;
    margin-right: 0 !important;
}

.split-edit .split p:nth-child(3) {
    width: 140px;
}

.split-edit .split p:nth-child(4) {
    width: 200px;
}

.split-edit .split .actions {
    width: calc(100% - 355px);
}

.split-edit .split .actions label,
.split-edit .split .actions button {
    width: 100%;
}

.split-edit .split .actions button {
    margin-top: 4px;
}



/* desabilitando botoes */
.split.in-edition p:not(.actions),
.split.send-voucher p:not(.actions) {
    opacity: .2;
}

.split.in-edition .actions a:not(.icon-cross),
.send-voucher.split .actions a:not(.icon-cross) {
    pointer-events: none;
    opacity: .2;
}

.split .actions a.icon-cross {
    color: #000;
    -webkit-transform: scale(1.07);
    -moz-transform: scale(1.07);
    -ms-transform: scale(1.07);
    -o-transform: scale(1.07);
    transform: scale(1.07);
}



/* lista com registros anteriores */
.fin-details--splits.more .actions .btn {
    width: auto;
    font-weight: bold;
    margin-left: 5px;
}

.fin-details--splits.more .split p:nth-of-type(1) {
    width: 60px;
}

.fin-details--splits.more .split p:nth-of-type(2) {
    width: 105px;
}

.fin-details--splits.more .split p:nth-of-type(4) {
    width: 145px;
}

.fin-details--splits.more .split .fake-select {
    width: 100%
}





/* MODAL */
.mdl--form label {
    color: #444;
    margin-bottom: 10px;
    display: block;
}

/* condicao e parcelamento */
.mdl--form .parc select {
    width: 65%;
    margin-right: 5px
}

.mdl--form .parc .split input {
    width: 40px;
    display: inline-block;
    padding: 8px 0;
    text-align: center;
    pointer-events: none;
}

.mdl--form .parc button {
    padding: 8px 10px;
    transform: translateY(-1px);
}

/* PARCELAMENTOS */
.mdl-splits table {
    border-collapse: collapse;
    width: 100%;
}

.mdl-splits tr {
    background: #e6e6e6;
    margin-top: 3px;
    display: block;
    padding: 5px;
}

.mdl-splits td {
    padding: 0 10px;
    font-size: .875em;
    color: #565656;
}

.mdl-splits td:not(:first-child) {
    border-left: 1px solid #f6f6f6;
    vertical-align: top;
}

.mdl-splits td p {
    padding: 9px 0;
}

.mdl-splits td:nth-child(1) {
    width: 16%;
}

.mdl-splits td:nth-child(2) {
    width: 37%;
}

.mdl-splits td:nth-child(3) {
    width: 25%;
}

.mdl-splits td:nth-child(4) {
    width: 22%;
}

.mdl-splits td p,
.mdl-splits td input {
    display: block;
    vertical-align: top;
}

.mdl-splits td p {
    padding-bottom: 0;
}

.mdl-splits td:nth-child(1) {
    padding: 15px 5px 0px 5px;
}

.mdl-splits td:nth-child(2) p,
.mdl-splits td:nth-child(2) input {
    width: 100%;
}

/* .mdl-splits td:nth-child(3) input {width: 70%;} */

.mdl-splits .splitsMsg {
    display: none;
    color: red;
    font-size: .75em;
}

.mdl-splits .splitsMsg b {
    font-size: 1.2em;
}

.mdl-splits .block {
    pointer-events: none;
    background: #eee;
}

/* [categories] :: Lista de categorias */





/* CATEGORIAS */
.doc-cats .item {
    padding: 10px 5px;
    background: #fff;
    display: block;
    font-size: 1.3em;
    border-bottom: 1px solid #e6e6e6;
    margin-bottom: 5px;
}

.doc-cats .item .type {
    margin-left: 20px;
    font-weight: bold;
    font-size: .875em;
}

.doc-cats .item .type.rec {
    color: #00b494;
}

.doc-cats .item .type.des {
    color: #f45563;
}

.doc-cats .item .wc_alert {
    left: 0;
    top: 8px;
    right: initial;
}

.doc-cats .item p {
    padding: 6px 10px;
    font-size: .75em;
    cursor: pointer;
    border: none;
    color: #555;
    outline: none;
    border-bottom: 2px solid transparent;
    background: #fafafa;
    width: 100%;
    border-radius: 5px;
    border: 1px solid #e6e6e6;
    -webkit-transition: all .15s ease;
    -moz-transition: all .15s ease;
    -ms-transition: all .15s ease;
    -o-transition: all .15s ease;
    transition: all .15s ease;
}

.doc-cats .item li.sub p {
    padding: 8px 10px;
    margin-left: 30px;
    width: calc(100% - 30px);
}

.doc-cats .item p:hover,
.doc-cats .item p:active,
.doc-cats .item p:focus {
    background: #f3f3f3;
}

.doc-cats .item p:focus {
    border-bottom: 2px solid #aeaeae;
}

.doc-cats .item p>b {
    font-size: 1.2em;
}

/* ICONES */
.doc-cats .item li {
    position: relative;
    margin-bottom: 10px;
}

.doc-cats .item li .wc_alert,
.doc-cats .item li .icon-pencil,
.doc-cats .item li .icon-cancel-circle,
.doc-cats .item li .j_delete_action_confirm {
    position: absolute;
    text-decoration: none;
    font-size: .8em;
    cursor: pointer;
}

.doc-cats .item li .icon-pencil,
.doc-cats .item li .icon-cancel-circle {
    width: 30px;
    top: 0;
    text-align: center;
    height: 100%;
    padding-top: 8px;
}

.doc-cats .item li .icon-cancel-circle {
    color: red;
    background: #f3f3f3;
    right: 0;
}

.doc-cats .item li .icon-pencil {
    right: 30px;
    color: #fff;
}

.doc-cats .item li .wc_alert {
    padding-top: 2px;
    padding-bottom: 2px;
    right: auto;
    top: 7px;
}

.doc-cats .item li .wc_alert>span {
    font-size: .8em;
    text-transform: none;
}


/* SAMPLE CATEGORY */
.cat_type li {
    display: block;

}


/* RELATORIOS */
.wc_ead_reports_single {
    vertical-align: top;
    display: flex;
}

.finanDetail {
    position: relative;
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: .7em;
    padding-top: 5px;
}

.finanDetail::before {
    content: "• ";
}



/* PARA TODO O SISTEMA */
button[disabled],
button[disabled="true"] {
    position: relative;
    color: #00B494 !important;
    text-shadow: none !important;
}

button[disabled]::before,
button[disabled="true"]::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    background: url('../../../../_img/load_w.gif') no-repeat center center;
    background-size: 30px;
}

button[disabled].btn_green:hover,
button[disabled="true"].btn_green:hover {
    background-color: #00B494;
    text-shadow: 1px 1px #008068;
}